# A Quick Tour of Variables and Data Types in Python

## Storing information using variables

Computers are useful for two purposes: storing information and performing operations on stored information. While working with a programming language such as Python, informations is stored in *variables*. You can think of variables are containers for storing data. The data stored within a variable is called it's *value*. It's really easy to create variables in Python.

In [ ]:
my_favorite_color = "blue"

In [ ]:
print(my_favorite_color)

In [ ]:
type(my_favorite_color)

A variable is created using an *assignment statement*, which begins with the variable's name, followed by the assignment operator `=` (different from the equality comparision operator `==`), followed by the value to be stored within the variable. 

You can also values to multiple variables in a single statement by separating the variable names and values with commas.

In [ ]:
color1, color2, color3 = "red", "green", "blue"

In [ ]:
color1

In [ ]:
color2

In [ ]:
color3

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [ ]:
color4 = color5 = color6 = "magenta"

In [ ]:
color4

In [ ]:
color5

In [ ]:
color6

In [ ]:
color6 = "black"

In [ ]:
color5

In [ ]:
color6

You can change the value stored within a variable simply by assigning a new value to it using another assignment statement. Be careful while reassgining variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [ ]:
my_favorite_color = "red"

In [ ]:
my_favorite_color

While assigning a new value to a variable, you can also use the previous value of the variable to determine the new value.

In [ ]:
counter = 10

In [ ]:
counter = counter + 1

In [ ]:
counter

In [ ]:
counter = counter + 9

In [ ]:
counter

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very commonly used, so Python provides a *shorthand* syntax for it.

In [ ]:
counter = 10

In [ ]:
# Same as `counter = counter + 4`
counter += 4

In [ ]:
counter

# shorthand notation of operator
a = 1
a = a + 1 == (a += 1)

b= 2
b = b - 1 == b -= 1

c = 3
c = c * 1 == c *= 1

d = 4
d = d / 1 == d /= 1

Variable names can be short (`a`, `x`, `y` etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers` etc.). Howerver, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot start with a number.
* A variable name can only contain lowercase or uppercase letters, digits or underscores (`a`-`z`, `A`-`Z`, `0`-`9` and `_`).
* Variable names are case-sensitive i.e. a_variable, A_Variable and A_VARIABLE are all different variables.

Here are some valid variable names:

In [ ]:
# type(None)

In [ ]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"

the_3_musketeers = ["Athos", "Porthos", "Aramis"]

In [ ]:
the_3_musketeers

Let's also try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules which govern what a valid instruction or *statement* in the language should look like. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [ ]:
a variable = 23

In [ ]:
is_today_$aturday = False

In [ ]:
my-favorite-car = "Delorean"

In [ ]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. The type of data stored within a variable can be checked using the `type` function.

In [ ]:
a_variable

In [ ]:
type(a_variable)

In [ ]:
is_today_Saturday

In [ ]:
type(is_today_Saturday)

In [ ]:
my_favorite_car

In [ ]:
type(my_favorite_car)

In [ ]:
the_3_musketeers

In [ ]:
type(the_3_musketeers)

Python has several built-in data types for storing different types of information in variables. Following are at some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary
9. Set

Integer, float, boolean, None and string are *primitive data types* because they represent a single value. Other data types like list, tuple and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [ ]:
current_year = 2022

In [ ]:
current_year

In [ ]:
type(current_year)

Unlike some other programming languages, integers in Python can be arbirarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int` etc. in C/C++/Java).

In [ ]:
a_large_negative_number = -23374038374832934334234317348343

In [ ]:
a_large_negative_number

In [ ]:
type(a_large_negative_number)

### Float

Floats (or floating point numbers) are numbers with a decimal point. There are no limits on the value of a float or the number of digits before or after the decimal point. Floating point numbers have the type `float`.

In [ ]:
pi = 3.141592653589793238

In [ ]:
pi

In [ ]:
type(pi)

Note that a whole number is treated as a float if it is written with a decimal point, even though the decimal portion of the number is zero.

In [ ]:
a_number = 3.0

In [ ]:
a_number

In [ ]:
type(a_number)

In [ ]:
another_number = 4.

In [ ]:
another_number

In [ ]:
type(another_number)

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [ ]:
one_hundredth = 1e-2  # 1 * 10 ** -2

In [ ]:
one_hundredth

In [ ]:
type(one_hundredth)

In [ ]:
avogadro_number = 6.02214076e23

In [ ]:
avogadro_number

In [ ]:
type(avogadro_number)

Floats can be converted into integers and vice versa using the `float` and `int` functions. The operation of coverting one type of value into another is called casting.

In [ ]:
current_year

In [ ]:
float(current_year)

In [ ]:
float(a_large_negative_number)

In [ ]:
int(pi)

In [ ]:
int(avogadro_number)

In [ ]:
pi

While performing arithmetic operations, integers are automatically converted to floats if any of the operands is a float. Also, the division operator `/` always returns a float, even if both operands are integers. Use the `//` operator if you want the result of division to be an `int`.

In [ ]:
type(45 * 3.0)

In [ ]:
type(45 * 3)

In [ ]:
type(2/2)

In [ ]:
type(10/3)

In [ ]:
type(10/2)

In [ ]:
10//2

In [ ]:
type(10//2)

In [ ]:
10.0 // 3

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [ ]:
is_today_Sunday = True

In [ ]:
is_today_Sunday

In [ ]:
type(is_today_Sunday)

Booleans are generally returned as the result of a comparision operation (e.g. `==`, `>=` etc.).

In [ ]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [ ]:
is_ice_bag_expensive

In [ ]:
type(is_ice_bag_expensive)

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [ ]:
5 + False

In [ ]:
3. + True

In [ ]:
len("")

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The emtpy set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evalutes to `True` is often called a *truthy* value).

In [ ]:
bool(False)

In [ ]:
bool(0)

In [ ]:
bool(0.0)

In [ ]:
bool(None)

In [ ]:
bool("")

In [ ]:
bool([])

In [ ]:
bool(())

In [ ]:
bool({})

In [ ]:
bool(set())

In [ ]:
bool(range(0))

In [ ]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [ ]:
nothing = None

In [ ]:
type(nothing)

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [ ]:
today = 'Saturday'

In [ ]:
today

In [ ]:
type(today)

You can use single quotes inside a string written with double quotes, and vice versa.

In [ ]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [ ]:
my_favorite_movie

In [ ]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [ ]:
my_favorite_pun

To use the a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [ ]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [ ]:
another_pun

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [ ]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [ ]:
yet_another_pun

Multiline strings are best displayed using the `print` function.

In [ ]:
print(yet_another_pun)

In [ ]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [ ]:
a_music_pun

In [ ]:
print(a_music_pun)

You can check the length of a string using the `len` function.

In [ ]:
len(my_favorite_movie)

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as 2 characters.

In [ ]:
multiline_string = '''a
b'''

In [ ]:
len(multiline_string)

A string can be converted into a list of characters using `list` function.

In [ ]:
list(multiline_string)

In [ ]:
my_favorite_movie

In [ ]:
list(my_favorite_movie)

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [ ]:
today = "Saturday"

In [ ]:
today

In [ ]:
today[0]

In [ ]:
today[3]

In [ ]:
today[7]

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [ ]:
today

In [ ]:
today[2:4]

You can also check whether a string contains a some text using the `in` operator.

In [ ]:
'day' in today

In [ ]:
'Sun' in today

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [ ]:
full_name = "Derek O'Brien"

In [ ]:
greeting = "Hello"

In [ ]:
greeting + full_name

In [ ]:
greeting + " " + full_name + "!" # additional space

String in Python have many built-in *methods* that can be used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types, and are accessed using the `.` notatation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [ ]:
help(str)

In [ ]:
'hello there'.find('re')

In [ ]:
today.lower()

In [ ]:
"saturday".upper()

In [ ]:
"monDAY".capitalize() # changes first character to uppercase

The `.replace` method is used to replace a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [ ]:
another_day = today.replace("Satur", "Wednes")

In [ ]:
another_day

In [ ]:
name = "Deesha"

name.replace('ee', 'i')

Note that a new string is returned, and the original string is not modified.

In [ ]:
today

The `.split` method can be used to split a string into a list of strings based using the character(s) provided.

In [ ]:
'hello kite'.split()

In [ ]:
help(str.split)

In [ ]:
val = "Sun,Mon,Tue,Wed,Thu,Fri,Sat".replace(',', '.')
val

In [ ]:
val.split('.')

The .strip method is used to remove whitespace characters from the beginning and end of a string.

In [ ]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [ ]:
a_long_line_stripped = a_long_line.strip()

In [ ]:
a_long_line_stripped

In [ ]:
a_long_line

The `.format` method is used to combine values of other data types e.g. integers, floats, booleans, lists etc. with strings. It is often used to create output messages for display.

In [ ]:
num = 10
"The number is {}".format(num)

In [ ]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

In [ ]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags

output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible use the string concatenation operator `+` to combine strings with other values, however, those values must first be converted to strings using the `str` function.

In [ ]:
firstname = "Raj"
lastname = "Yadav"

gretting = "Hello my firstname is {}, and my lastname is {}"

print(gretting)

In [ ]:
gretting.format(firstname, lastname)

In [ ]:
course = "Python"
comment = "Funny"
"I am teaching {}, but it is not {}".format(course, comment)
# "I am teaching" + course + ", but it is not " + comment

In [ ]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

In [ ]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

In fact, the `str` can be used to convert a value of any data type into a string.

In [ ]:
str(23)

In [ ]:
str(23.432)

In [ ]:
str(True)

In [ ]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

Note that all string methods returns new values, and DO NOT change the existing string. You can find a full list of string methods here: https://www.w3schools.com/python/python_ref_string.asp.

Strings also support the comparision operators `==` and `!=` for checking whether two strings are equal

In [ ]:
first_name = "John"

In [ ]:
first_name == "Doe"

In [ ]:
first_name == "John"

In [ ]:
first_name != "Jane"

We've looked at the primitive data types in Python, and we're now ready to explore non-primitive data structures or containers.

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types, and support operations to add, remove and change values. Lists have the type `list`.

To create a list, enclose a list of values within square brackets `[` and `]`, separated by commas.

In [ ]:
fruits = ['apple', 'banana', 'cherry']

In [ ]:
fruits

In [ ]:
type(fruits)

Let's try creating a list containing values of different data types, including another list.

In [ ]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [ ]:
print(a_list)

In [ ]:
empty_list = []

In [ ]:
empty_list

To determine the number of values in a list, use the `len` function. In general, the `len` function can be used to determine of values in several other data types.

In [113]:
len(fruits)

3

In [114]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [115]:
len(a_list)

6

In [116]:
len(empty_list)

0

In [117]:
bool(empty_list)

False

You can access the elements of a list using the the *index* of the element, starting from the index 0.

In [118]:
fruits

['apple', 'banana', 'cherry']

In [119]:
fruits[0]

'apple'

In [120]:
fruits[1]

'banana'

In [121]:
fruits[2]

'cherry'

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [122]:
fruits[3]

IndexError: list index out of range

In [123]:
fruits[4]

IndexError: list index out of range

In [124]:
fruits[-1]

'cherry'

In [125]:
fruits[-2]

'banana'

In [126]:
fruits[-3]

'apple'

In [127]:
fruits[-4]

IndexError: list index out of range

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [128]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [129]:
a_list[4]

['apple', 'banana', 'cherry']

In [130]:
len(a_list)

6

In [131]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [133]:
a_list[5:5]

[]

Note that the start index (`2` in the above example) of the range is included in the list, but the end index (`5` in the above example) is not included. So, the result has 3 values (indices `2`, `3` and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list e.g. `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index of the range e.g. `list_a[5:4]`
* Try leaving out the start or end index of a range e.g. `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range e.g. `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them a great tool for learning and experimentation. Most questions that arise while you are learning Python for the first time can be resolved by simply typing the code into a cell and executing it. Let your curiosity run wild, and discover what Python is capable of, and what it isn't!

In [134]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [135]:
a_list[2:10]

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [136]:
a_list[5:4]

[]

In [137]:
a_list[:4]

[23, 'hello', None, 3.14]

In [138]:
a_list[5:]

[True]

In [139]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [140]:
a_list[-2:-5]

[]

In [141]:
a_list[-5:-2]

['hello', None, 3.14]

You can also change the value at a specific index within a list using the assignment operation.

In [142]:
fruits

['apple', 'banana', 'cherry']

In [143]:
fruits[1]

'banana'

In [144]:
fruits[1] = 'blueberry'

In [145]:
fruits

['apple', 'blueberry', 'cherry']

In [146]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

A new value can be added to the end of a list using the `append` method.

In [147]:
fruits.append('banana')

In [148]:
fruits

['apple', 'blueberry', 'cherry', 'banana']

A new value can also be inserted a specific index using the `insert` method.

In [149]:
fruits.insert(1, 'banana')

In [150]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'banana']

You can remove a value from the list using the `remove` method.

In [151]:
fruits.remove('banana')

In [152]:
fruits

['apple', 'blueberry', 'cherry', 'banana']

What happens if a list has multiple instances of the value passed to `.remove`? Try it out.
<br>Removes the first matching element.

In [ ]:
# help(list.remove)

To remove an element from a specific index, use the `pop` method. The method also returns the removed element.

In [153]:
fruits

['apple', 'blueberry', 'cherry', 'banana']

In [159]:
fruits

['apple', 'blueberry', 'cherry']

In [160]:
a = fruits.pop(1)

In [161]:
a

'blueberry'

In [163]:
fruits

['apple', 'cherry']

In [164]:
new_fruit = fruits.pop(1)

In [165]:
fruits

['apple']

In [166]:
new_fruit

'cherry'

If no index is provided, the `pop` method removes the last element of the list.

In [167]:
fruits.pop()

'apple'

In [168]:
fruits

[]

You can test whether a list contains a value using the `in` operator.

In [169]:
'pineapple' in fruits

False

In [170]:
'cherry' in fruits

False

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [171]:
fruits

[]

In [172]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [173]:
more_fruits

['pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original list.

In [174]:
more_fruits_copy = more_fruits.copy()

In [175]:
more_fruits_copy

['pineapple', 'tomato', 'guava', 'dates', 'banana']

In [176]:
# Modify the copy
more_fruits_copy.remove('pineapple')
print(more_fruits_copy.pop())
more_fruits_copy

banana

['tomato', 'guava', 'dates']

In [177]:
# Original list remains unchanged
more_fruits

['pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using one variable will affect the other.

In [178]:
more_fruits

['pineapple', 'tomato', 'guava', 'dates', 'banana']

In [179]:
more_fruits_not_a_copy = more_fruits
more_fruits_not_a_copy

['pineapple', 'tomato', 'guava', 'dates', 'banana']

In [180]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()
more_fruits_not_a_copy

['tomato', 'guava', 'dates']

In [181]:
more_fruits_not_a_copy

['tomato', 'guava', 'dates']

In [182]:
more_fruits

['tomato', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. Unlike strings, however, most list methods modify the original list, rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp


Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list to the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [183]:
more_fruits.reverse()
more_fruits

['dates', 'guava', 'tomato']

In [184]:
fruits.append("strawberry")

In [185]:
fruits

['strawberry']

In [186]:
more_fruits

['dates', 'guava', 'tomato']

In [187]:
more_fruits.append(fruits)
more_fruits

['dates', 'guava', 'tomato', ['strawberry']]

In [188]:
more_fruits.pop()

['strawberry']

In [189]:
more_fruits

['dates', 'guava', 'tomato']

In [190]:
more_fruits.sort()
more_fruits

['dates', 'guava', 'tomato']

In [191]:
more_fruits.sort(reverse = True)
more_fruits

['tomato', 'guava', 'dates']

In [192]:
help(more_fruits.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
# help(list)

In [193]:
more_fruits.append('mango')

In [194]:
more_fruits.count('dates')

1

In [195]:
more_fruits

['tomato', 'guava', 'dates', 'mango']

In [196]:
more_fruits.extend(['hero', 'zero'])

In [197]:
more_fruits

['tomato', 'guava', 'dates', 'mango', 'hero', 'zero']

In [ ]:
more_fruits.append('dates')

In [200]:
more_fruits.insert?

In [201]:
more_fruits.index('dates')

2

In [202]:
more_fruits

['tomato', 'guava', 'dates', 'mango', 'hero', 'zero']

In [203]:
more_fruits.insert(1, 'blueberry')

In [204]:
more_fruits

['tomato', 'blueberry', 'guava', 'dates', 'mango', 'hero', 'zero']

### Tuple

A tuple is an ordered collection of values, similar to a list, however it is not possible to add, remove or modify values in a tuple. A tuple is created by enclosing values within parantheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [205]:
fruits = ('apple', 'cherry', 'dates')

In [206]:
# check no. of elements
len(fruits), type(fruits)

(3, tuple)

In [207]:
# get an element (positive index)
fruits[0]

'apple'

In [208]:
# get an element (negative index)
fruits[-2]

'cherry'

In [209]:
# check if it contains an element
'dates' in fruits

True

In [210]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [211]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [212]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [213]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [214]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [215]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element, if you include a comma after the element. Just wrapping it with parantheses `(` and `)` won't create a tuple.

In [216]:
val = (4)
val1 = (4,)

print(type(val), type(val1))

<class 'int'> <class 'tuple'>

In [217]:
single_element_tuple = 4,

In [218]:
single_element_tuple

(4,)

In [219]:
another_single_element_tuple = (4,)

In [220]:
another_single_element_tuple

(4,)

In [221]:
not_a_tuple = (4)

In [222]:
not_a_tuple

4

Tuples are often used to create multiple variables with a single statement.

In [223]:
point = (3, 4)

In [224]:
point_x, point_y = point

In [225]:
point_x

3

In [226]:
point_y

4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [227]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [228]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuples have just 2 built-in methods: `count` and `index`. Can you figure out what they do? While look could look for documentation and examples online, there's an easier way to check the documentation of a method, using the `help` function.

In [229]:
a_tuple = (23, "hello", False, None, 23, 37, "hello")

In [230]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [231]:
a_tuple.count(23)

2

In [232]:
a_tuple.index(23)

0

Within a Jupyter notebook, you can also start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the documentation for the function/method in a pop-up window.

In [ ]:
# a_tuple.index?

Try using `count` and `index` with `a_tuple` in the code cells below.

In [ ]:
# help(a_tuple)

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. Keys are used to retrieve values from the dictionary. Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within curly brackets `{` and `}`.

In [1]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [2]:
len(person1)

4

In [3]:
person1['name']

'John Doe'

Dictionaries can also be created using the `dict` function.

In [4]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [5]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [6]:
person2['name']

'Jane Judy'

In [7]:
type(person1)

dict

Keys can be used to access values using square brackets `[` and `]`.

In [8]:
person1['name']

'John Doe'

In [9]:
person1['married']

True

In [10]:
person2['name']

'Jane Judy'

If a key isn't present in the dictionary, then a `KeyError` is returned.

In [11]:
person1['address']

KeyError: 'address'

The `get` method can also be used to access the value associated with a key.

In [12]:
person2.get("name")

'Jane Judy'

The `get` method also accepts a default value which is returned if the key is not present in the dictionary.

In [16]:
print(person2.get("address"))

None

In [14]:
help(person2.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

You can check whether a key is present in a dictionary using the `in` operator.

In [18]:
help(person1)

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If key is not found, default is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [19]:
'name' in person1

True

In [20]:
'address' in person1

False

You can change the value associated with a key using the assignment operator.

In [21]:
person2['married']

False

In [22]:
person2['married'] = True

In [23]:
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictonary.

In [24]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [25]:
person1['address'] = '1, Penny Lane'

In [26]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

To remove a key and the associated value from a dictionary, use the `pop` method.

In [27]:
person1.pop('address')

'1, Penny Lane'

In [28]:
help(person1.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If key is not found, default is returned if given, otherwise KeyError is raised

Dictonaries also provide methods to view the list of keys, values or key-value pairs inside it.

In [31]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [32]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [33]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [34]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

The result of the `keys`, `values` or `items` look like lists but don't seem to support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

In [35]:
list(person1.items())[1]

('sex', 'Male')

In [36]:
list(person1.values())[1]

'Male'

### Set

In [37]:
skills = {'Python programming','Databases', 'Software design'}

In [38]:
type(skills)

set

In [39]:
empty_set = {}     # this is  dictionary
type(empty_set)

dict

In [40]:
empty_set  = set()

type(empty_set)

set

In [41]:
skills = set(['Problem solving','Critical Thinking', 'Critical Thinking'])
print(skills)

{'Critical Thinking', 'Problem solving'}

In [42]:
characters = set('letter')
print(characters)

{'r', 'e', 'l', 't'}

In [43]:
set1 = {1,2,3,4,4,4,3}
print(set1)

{1, 2, 3, 4}

In [44]:
len(characters)

4

In [45]:
'l' in characters

True

In [46]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
characters.add('i')

In [ ]:
characters

In [ ]:
characters.remove('i')

In [ ]:
characters

In [ ]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

In [ ]:
print(skills)

In [ ]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

In [ ]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

In [ ]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

In [ ]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

In [ ]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

In [ ]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

In [ ]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1 - s2

print(s)

In [ ]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

In [ ]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

Dictionaries provide many other methods. You can learn more about them here: https://www.w3schools.com/python/python_ref_dictionary.asp

Here are some experiments you can try out with dictionaries (use the empty cells below):
* What happens if you use the same key multiple times while creating a dictionary?
* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Can the value associated with a key itself be a dictionary?
* How can you add the key value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Can the keys of a dictionary be something other than a string e.g. a number, boolean, list etc.?

In [ ]:
second_dict = dict(first = 1, second = 2)
second_dict

In [ ]:
second_dict = dict(first = 1, second = 2, third = 3)
second_dict

In [ ]:
second_dict['first']

In [ ]:
third_dict = second_dict.copy()
third_dict

In [ ]:
third_dict["first"] = 11
third_dict

In [ ]:
second_dict

In [ ]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [ ]:
third_dict.update(person1)
third_dict

In [ ]:
third_dict.popitem()

In [ ]:
third_dict.pop('sex')

In [ ]:
# third_dict['Nation'] = 'India'

In [ ]:
third_dict.setdefault('Nation', 'India')

In [ ]:
third_dict

In [ ]:
third_dict.setdefault('food', 'mango')

In [ ]:
third_dict.setdefault('food2')

In [ ]:
third_dict

In [ ]:
third_dict['food2'] = 'fogo'

In [ ]:
third_dict

In [ ]:
print(third_dict.get('food'))

In [ ]:
# third_dict['Nation'] = 'India'

In [ ]:
third_dict

In [ ]:
help(third_dict)

## Range Object

In [ ]:
list(range(10, 10, 2))

## Further Reading

We've now completed our exploration of variables and common data types in Python. Following are some resources to learn more about data types in Python:

* Python official documentation: https://docs.python.org/3/tutorial/index.html
* Python Tutorial at W3Schools: https://www.w3schools.com/python/
* Practical Python Programming: https://dabeaz-course.github.io/practical-python/Notes/Contents.html

You are now ready to move on to the next tutorial: [Branching using conditional statements and loops in Python](https://jovian.ml/aakashns/python-branching-and-loops)