In [90]:
import pandas as pd

In [1]:
import file1

In [2]:
help(file1)

Help on module file1:

NAME
    file1 - this modules contains few function which helps to parse header and values

FUNCTIONS
    create_item_dict(values, headers)

    parse_headers(header_line)
        this function takes string of header and returns list of strings

    parse_values(data_line)

    read_csv(path)

FILE
    c:\users\janvi\desktop\data analysis with python\data_analysis_course\lesson_3_numerical_computing_with_numpy\file1.py

In [1]:
from file1 import parse_headers

In [3]:
data = ['amount,duration,rate,down_payment\n',
 '883000,16,0.14,\n',
 ]

In [4]:
header = parse_headers(data[0])

In [5]:
header

['amount', 'duration', 'rate', 'down_payment']

In [91]:
data = pd.read_csv('/home/logicrays/Downloads/Dividend.csv')

In [92]:
data.head()

  Companies Sector Diviend Yield
0  Reliance    Oil        19.00%
1       TCS     IT        15.00%
2   Infosys     IT        10.00%
3   Mphasis     IT         9.00%
4      GAIL    Oil         9.00%

In [93]:
data

              Companies          Sector Diviend Yield
0              Reliance             Oil        19.00%
1                   TCS              IT        15.00%
2               Infosys              IT        10.00%
3               Mphasis              IT         9.00%
4                  GAIL             Oil         9.00%
5          Asian paints  Consumer goods         6.00%
6             HDFC Bank         Banking         5.00%
7               Vedanta          Mining         5.00%
8   Mahindra & Mahindra            Auto         4.00%
9      Adani Enterprise     Diversified         4.00%
10        Bajaj Finance         Finance         4.00%
11           Indian Oil             Oil         4.00%
12                 ONGC             Oil         3.00%
13           Coal India          Energy         2.00%
14                  SBI         Banking         1.00%

In [94]:
oil_data['dividend'] = pd.to_numeric(oil_data['Diviend Yield'])

/tmp/ipykernel_21076/3659599805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oil_data['dividend'] = pd.to_numeric(oil_data['Diviend Yield'])

In [95]:
oil_data['sum'] = oil_data.dividend.sum()

/tmp/ipykernel_21076/169370609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oil_data['sum'] = oil_data.dividend.sum()

In [96]:
def clean_data(df):
    df['Diviend Yield'] = df['Diviend Yield'].str.replace('%', '')
    return df

In [97]:
def convert_numeric(df):
    df['Diviend Yield'] = pd.to_numeric(df['Diviend Yield'])
    return df

In [98]:
def calculate_sum(df):
    df['sum'] = df['Diviend Yield'].sum()
    return df

In [107]:
# def calculate_sum_sector(df, sector):
#     df['sum'] = df[df['Sector'] == sector]['Diviend Yield'].sum()
#     return df

In [125]:
data.groupby('Sector').sum()

Object `sort` not found.

In [129]:
filtered_data = data.groupby('Sector').sum().sort_values(by=['Diviend Yield'], ascending=False)

In [101]:
data = clean_data(data)
# data = convert_numeric(data)
# data = calculate_sum(data)

In [102]:
data = convert_numeric(data)

In [112]:
# sector_list = list(data.Sector.unique())

In [ ]:
# for sector in sector

In [83]:
data = calculate_sum_sector(data)

In [126]:
data

              Companies          Sector  Diviend Yield  Diviend
0              Reliance             Oil           19.0      NaN
1                   TCS              IT           15.0      NaN
2               Infosys              IT           10.0      NaN
3               Mphasis              IT            9.0      NaN
4                  GAIL             Oil            9.0      NaN
5          Asian paints  Consumer goods            6.0      NaN
6             HDFC Bank         Banking            5.0      NaN
7               Vedanta          Mining            5.0      NaN
8   Mahindra & Mahindra            Auto            4.0      NaN
9      Adani Enterprise     Diversified            4.0      NaN
10        Bajaj Finance         Finance            4.0      NaN
11           Indian Oil             Oil            4.0      NaN
12                 ONGC             Oil            3.0      NaN
13           Coal India          Energy            2.0      NaN
14                  SBI         Banking            1.0      NaN

In [130]:
filtered_data

                Diviend Yield  Diviend
Sector
Oil                      35.0      0.0
IT                       34.0      0.0
Banking                   6.0      0.0
Consumer goods            6.0      0.0
Mining                    5.0      0.0
Auto                      4.0      0.0
Diversified               4.0      0.0
Finance                   4.0      0.0
Energy                    2.0      0.0